.autocomplete-container {
  display: inline-block;
  position: relative;
}

.suggestions-dropdown {
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #ffffff;
  z-index: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.suggestions-dropdown li {
  padding: 8px 12px;
  cursor: pointer;
  color:black
}

.suggestions-dropdown li:hover {
  background-color: #f1f1f1;
}

.suggestions-dropdown li.active {
  background-color: #007BFF;
  color: #ffffff;
}



  