.instructions-wrapper {
  position: relative;
}
.instructions-wrapper #lamp {
  display: inline-block; 
}

.instructions-wrapper h3 {
  margin: 0 auto;
  width: 95px;
  cursor: pointer;
  border: 1px solid #80808045;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 39%);
}
.instructions-wrapper h3:hover{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 60%);
}

.instructions-wrapper h3:hover #lamp{
    filter: brightness(120%);
    transition: filter 0.2s ease-in-out;
   transform: scale(1.1);
}

.instructions-wrapper h3:active{
    color:#e0e09d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 90%);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.info-block {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 80%;
  max-width: 670px;
  background-color: #e7d4f1;
  color: black;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.info-block p {
  margin-bottom: 1rem;
}

.trie-words-block {
  margin: 0 auto;
  width: 400px;
}

#words-object {
  text-align: left;
  margin-left: 50px;
}

@media screen and (max-height: 910px) {
  .info-block {
    height: 90%;
  }
}

@media screen and (max-width: 480px) {
  .info-block {
    padding: 15px;
  }
}
