footer {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  height: 200px;
}

.footer-text h3 {
  font-weight: 400;
}

.footer-text a {
  margin-top: -10px;
  display: block;
}

.social_media {
  margin-top: 10px;
}
.social_media a {
  margin: 10px;
}

.social_media img {
  width: 30px;
  border-radius: 10px;
}

.social_media img:hover {
  box-shadow: 0 0 10px -4px #f8f8f8;
}
